In [1]:
import os
os.getcwd()

'C:\\Users\\Admin\\data_cleaning_agent'

In [2]:
os.listdir()

['.ipynb_checkpoints',
 '01_data_profiling.ipynb',
 'adult.data',
 'adult.names',
 'adult.test',
 'Index',
 'old.adult.names']

In [3]:
import pandas as pd

In [5]:
columns = [
    "age", "workclass", "fnlwgt", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "sex",
    "capital_gain", "capital_loss", "hours_per_week",
    "native_country", "income"
]

df = pd.read_csv(
    "adult.data",
    names=columns,
    na_values="?",
    skipinitialspace=True
)

df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.shape

(32561, 15)

In [8]:
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [10]:
total_rows = len(df)
empty_rows = df.isna().all(axis=1).sum()
duplicate_rows = df.duplicated().sum()
total_rows, empty_rows, duplicate_rows

(32561, 0, 24)

In [11]:
df['age'].head(10)

0    39
1    50
2    38
3    53
4    28
5    37
6    49
7    52
8    31
9    42
Name: age, dtype: int64

In [12]:
df['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [15]:
age_missing_pct = df['age'].isnull().mean()
age_unique_ratio = df['age'].nunique() / len(df)
age_missing_pct, age_unique_ratio

(0.0, 0.0022419458861828567)

In [16]:
from dateutil.parser import parser

In [18]:
def detect_type(series):
    non_null = series.dropna()

    if len (non_null) == 0:
        return "unknown", 0.0, False
        
    numeric_ratio = pd.to_numeric(non_null, errors="coerce").notna().mean()

    unique_ratio = non_null.nunique() / len(series)
    suspected_id = unique_ratio > 0.95 and numeric_ratio > 0.95

    if numeric_ratio > 0.9:
        return "numeric", round(numeric_ratio, 2), suspected_id
    else: 
        return "text", 0.6, suspected_id

In [19]:
detect_type(df["age"])

('numeric', 1.0, False)

In [22]:
# More than 90% of values can be parsed as numbers, so the column is confidently numeric.

In [23]:
(df["age"]< 0).any(), (df["age"] > 120).any()

(False, False)

In [24]:
age_profile = {
    "column": "age",
    "type": "numeric",
    "missing_pct": round(age_missing_pct, 3),
    "unique_ratio": round(age_unique_ratio, 3),
    "suspected_id": False,
    "flags": []
}

age_profile

{'column': 'age',
 'type': 'numeric',
 'missing_pct': 0.0,
 'unique_ratio': 0.002,
 'suspected_id': False,
 'flags': []}